.fixed-top{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.main {
  padding: 16px;
  margin-top: 64px;
}

.pe-tabs{
  background: white;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

